@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    font-style: normal;
    
}

head, body{
    scroll-behavior: smooth;  
}

#bd{
    
    background: linear-gradient(313deg,#F3F3F3,#8D8D8D,#F3F3F3);
  animation: gradient-animation 3s ease infinite;

}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#sec1 button{
    padding: 10px 50px;
}

#sticky-bottom{
    background-color: rgba(0, 0, 0, 0.678);

}

#navbar{
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#navbar a{
  text-shadow: 3px 3px 10px #ffffff;
    font-size: 20px;
  margin: 0 5px;
}

#bottom-nav a:hover{
    color: #20c997 ;
}

marquee{
 width: 100%;
 padding-left: 100px;
 margin: 20px 0px;
}

marquee h1{
    font-weight: 600;
    color: #8d8d8d;
}

#offcanvasNavbar
{
    background-image: linear-gradient(#F3F3F3, #8D8D8D);
}

#bottom-nav{
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}
#bottom-nav a{
    color: aliceblue;
    mix-blend-mode:hard-light;
}



section{
    width: 100%;
    min-height: 100xsvh;
    min-height: 100svh;
    min-height: 100dvh;
    min-height: 100lvh;
    min-height: 100vh;
}

.sec1{
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100xsvh;
    min-height: 100svh;
    min-height: 100dvh;
    min-height: 100lvh;
    min-height: 100vh;
}

.col-6 .card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
 
}

.col-6 .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-6 .card-body h5{
    letter-spacing: 3px;
    color: #222222;
    font-size: 3svh;
    font-weight: 650;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typewriter {
    border-right: 2px solid; /* Cursor effect */
    display: inline-block; /* Keep it inline */
    animation: blink 0.7s infinite; /* Blinking cursor effect */
  }
  @keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  
  /* Progress bar styles */
  .progress-bar {
    height: 25px;
  }

  #sec4{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact{
    background: linear-gradient(260deg,#585a58,#272626);
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
  border-radius: 15px;
  
    }

#contactbtn{
    font-size: 80px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 10;
    
    font-style: normal;
    mix-blend-mode: overlay;
    color: #ffffff;
    overflow: hidden;
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
}

    
